<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" " http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.MenuDAO">
   <resultMap type="com.baizhi.entity.Menu" id="menuField">
       <id column="id" property="id"/>
       <result column="name" property="name"/>
       <result column="iconCls" property="iconCls"/>
       <!--维护关系属性-->
       <collection property="children" ofType="com.baizhi.entity.Menu" javaType="list">
           <id column="mid" property="id"/>
           <result column="mname" property="name"/>
           <result column="miconCls" property="iconCls"/>
           <result column="mhref" property="href"/>
       </collection>
   </resultMap>
        <select id="queryMenus" resultMap="menuField" >
            select m.id,m.name,m.iconCls,mm.id mid,mm.name mname,mm.iconCls miconCls,mm.href            mhref from menu m left join menu mm on m.id =mm.parentId where m.parentId is null
        </select>
</mapper>
